DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
REDIS_URL=redis://cache:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
